<div class = "container-fluid mt-3">

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Create New Idea</h1>
      <%= render 'form' %>
    </div>
  </div>

</div>
